*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  font-size: 62.5%;
}
body{
  background: linear-gradient(45deg, #190361 0%, #B0F 100%);
  display: grid;
  place-content: center;
  height: 100vh;


}
.hide{
  display: none;
}
main{
  max-width: 42.8rem;
  background-color: #fff;
  padding: 4.8rem 6.4rem;

  border-radius: .5rem;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.80);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main1 h1{
  max-width: 25.8rem;
  color: #34355B;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.4rem;

}
.main1 p{
  color: #34355B;
  font-family: 'DM Sans',sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem ;
 
}
.main1 button{
  height: 20rem;
  border: none;
  background: none;
}

#biscoitoDaSorte{
  width: 24.8rem;
  height: 19rem;
  cursor: pointer;
}


@keyframes treme {
  0% {margin-left: 0;margin-top: 0;rotate:0}
  25% {margin-left: .3rem; margin-top:.3rem;rotate: 2deg }
  50% {margin-left: 0; margin-top: .3rem;rotate: 0 }
  75% {margin-left: -.3rem; margin-top: -.3rem;rotate: -2deg}
  100% {margin-left: 0;margin-top: 0;rotate:0}
}
#biscoitoDaSorte:hover{
  animation: treme 0.1s infinite;
}
.main2{
  max-width: 29.7rem;
}
.main2 h1{
  color: #34355B;
  font-family: 'Montserrat',sans-serif;
  font-size: 2.4rem;
  font-weight: 700;

  margin-bottom: 1.7rem;
  
}
.main2 p{ 
  animation: climbPhase 0.6s;
  color: #000;
  font-family: 'Dancing Script',sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  padding:1rem;
  background:#E4EDF1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
  
  margin-bottom: 1.7rem;

}
@keyframes climbPhase {
  0% {transform: scaleX(10%) translateY(130%);}
  20% {transform: scaleX(20%) translateY(80%);}
  40% {transform: scaleX(30%) translateY(60%)}
  60% {transform: scaleX(60%) translateY(30%);}
  80% {transform: scaleX(80%) translateY(20%)}
  100% {transform: scaleX(100%) translateY(0);}
}

#biscoitoAberto{
  max-width: 30rem;
  padding: 4.3rem 0;
  margin-bottom: 1.7rem;
}
.main2 button{
  border-radius: .4rem;
  background: #FF9500;
  padding: 1.6rem;
  color: #FFF;
  font-family: 'DM Sans',sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  
  cursor: pointer;
  border:none;

}

